[submodule "code-oss"]
	path = code-oss
	url = https://github.com/microsoft/vscode.git
	shallow = true

[submodule "vendor/langchain-context-engineering"]
	path = vendor/langchain-context-engineering
	url = https://github.com/langchain-ai/context_engineering.git
	shallow = true

[submodule "vendor/learn-harness-engineering"]
	path = vendor/learn-harness-engineering
	url = https://github.com/walkinglabs/learn-harness-engineering.git
	shallow = true

[submodule "vendor/open-pencil"]
	path = vendor/open-pencil
	url = https://github.com/open-pencil/open-pencil.git
	shallow = true
